<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="modelHeader(title)">
    <meta charset="UTF-8"/>
    <title>CRM客户资源管理系统</title>


    <!--begin metronic css-->
    <link href="../../static/plugins/metronic/assets/vendors/custom/fullcalendar/fullcalendar.bundle.css"
          th:href="@{/plugins/metronic/assets/vendors/custom/fullcalendar/fullcalendar.bundle.css}" rel="stylesheet"
          type="text/css"/>
    <link href="../../static/plugins/metronic/assets/vendors/base/vendors.bundle.css" rel="stylesheet"
          th:href="@{/plugins/metronic/assets/vendors/base/vendors.bundle.css}" type="text/css"/>
    <link href="../../static/plugins/metronic/assets/demo/default/base/style.bundle.css"
          th:href="@{/plugins/metronic/assets/demo/default/base/style.bundle.css}" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" href="../../static/plugins/metronic/assets/demo/default/media/img/logo/favicon.ico"
          th:href="@{/plugins/metronic/assets/demo/default/media/img/logo/favicon.ico}"/>
    <!--end metronic css-->

    <link rel="stylesheet" href="webjars/bootstrap-table/1.9.1-1/bootstrap-table.css"
          th:href="@{/webjars/bootstrap-table/1.9.1-1/bootstrap-table.css}"/>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="webjars/font-awesome/4.7.0/css/font-awesome.min.css"
          th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" href="webjars/select2/4.0.3/css/select2.min.css"
          th:href="@{/webjars/select2/4.0.3/css/select2.min.css}">
    <link rel="stylesheet" href="webjars/toastr/2.1.2/build/toastr.css"
          th:href="@{/webjars/toastr/2.1.2/build/toastr.css}">

    <link rel="stylesheet" href="../../static/plugins/treegrid/jquery.treegrid.css"
          th:href="@{/plugins/treegrid/jquery.treegrid.css}"/>
    <link rel="stylesheet" href="../../static/plugins/ztree/css/metroStyle/metroStyle.css"
          th:href="@{/plugins/ztree/css/metroStyle/metroStyle.css}"/>
    <link rel="stylesheet" href="../../static/css/commons.css" th:href="@{/css/commons.css}"/>
</head>

